* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'figtree';
    src: url('fonts/static/Figtree-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'figtree-medium';
    src: url('fonts/static/Figtree-Medium.ttf');
}

body {
    background-color: #f4d04e;
    
}

#card-section {
    margin-top: 156px;
}

#container {
    width: 327px;
    height: 501px;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 8px 8px 0 #000000;
    margin: 0 auto;
    border-radius: 20px;
    padding: 24px;
    
}

#preview {
    width: 279px;
    height: 200px;
    
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;    
    
}

#text-section {
    padding-top: 24px;
    /* height: 173px; */
}

.subject {
    display: inline;
    border-radius: 4px;
    background-color: #f4d04e;
    color: #111111;
    font-size: 12px;
    padding: 4px 12px;
    font-family: 'figtree';
}

.date {
    padding: 12px 0;
    font-size: 12px;
    line-height: 150%;
    color: #111111;
    font-family: 'figtree-medium';
}

h1 {
    font-family: 'figtree';
    font-size: 20px;
    color: #111111;
    line-height: 150%;
    cursor: pointer;
}

h1:hover {
    color:#f4d04e;
}

.description {
    padding: 12px 0 14px 0;
    font-family: 'figtree-medium';
    font-size: 14px;
    color: #6b6b6b;
    line-height: 150%;
}

#author {
    /* width: 129px;
    height: 32px; */
    display: flex;
}

#author  img {
    height: 32px;
    width: 32px;
    display: inline;
}

h3 {
    font-family: 'figtree';
    color: #111111;
    font-size: 14px;
    line-height: 150%;
    padding: 5.5px;
}

/* desktop size */

@media screen and (min-width:550px) {
    #card-section {
    margin-top: 219px;
}

}